body {
    box-sizing: border-box;
}

header {
    display: block;
    background-color: #becad0;
    padding: 10px;
}

nav {
    background-color: #7f8496;
    border-bottom: 5px solid orange;
    padding: 10px;
    text-align: left;
}

nav a:hover {
    color: orange;
}

a {
    color: white;
    text-decoration: none;
    padding: 15px
}

footer {
    background-color: #7f8496;
    border-top: 5px solid orange;
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid midnightblue;
    margin-bottom: 10px;
    margin-top: 10px;
}
th, td {
    border: 1px solid white;
    text-align: left;
}
td {
    background-color: #7f8496;
}

.titel_tabel {
    background-color: teal;
}